%table.table.table-striped
  %thead
    %tr
      %td{:scope => "col"} #
      %td{:scope => "col"} when
      %td{:scope => "col"} original
      %td{:scope => "col"} signals
  %tbody
    - @messages.each do |message|
      %tr
        %th{:scope => "row"}
          %a{href: "/messages/#{message.id}"}= message.id
        %td= message.created_at.strftime("%d/%m/%Y %T")
        %td= message.text
        %td
          %ul
            - message.waves.each do |wave|
              %li
                - if wave.processed?
                  %a.text-success{href: "/orders/#{wave.order_id}"}
                    = wave.text
                - else
                  %p.text-danger
                    = wave.text
                  %caption
                    = wave.note

  = paginate @messages