%table.table.table-striped
  %tbody
    %tr
      %th ID
      %td= @message.id
    %tr
      %th when
      %td= @message.created_at.strftime("%d/%m/%Y %T")
    %tr
      %th text
      %td= @message.text
    %tr
      %th orders
      %td
        %ul
          - @message.orders.uniq.each do |order|
            %li
              %a.text-success{href: "/orders/#{order.id}/edit"}
                = order.to_text
    %tr
      %th signals
      %td
        %ul
        - @message.waves.each do |wave|
          - if wave.processed?
            %li.text-success{href: "/orders/#{wave.order_id}/edit"}
              = wave.text
          - else
            %li.text-danger
              = wave.text
              %caption
                = wave.note

