%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %ul.navbar-nav.mr-auto
    %li.nav-item.m-lg-2
      %a.nav-link{href: "/"}
        Signals
    %li.nav-item.m-lg-2
      %a.nav-link{href: "/messages"}
        Logs
    %li.nav-item.m-lg-2
      %a.nav-link.btn.btn-info{href: "/orders/new"}
        New signal

