- method = order.id ? :put : :post
- url = order.id ? "/orders/#{order.id}" : "/orders"
- options = Currency.all.map {|s| [s, s.downcase] }
- types = Order.types.keys.map(&:to_s)

= form_for order, url: url, method: method do |f|
  .row
    .col-4
      .form-group
        = f.label :type
        = f.select :type, types, { selected: order.type }, { class: 'form-control', placeholder: 'currency' }

    .col-4
      .form-group
        = f.label :currency
        = f.select :currency, options, { selected: order.currency }, { class: 'form-control', placeholder: 'currency' }

    .col-4
      .form-group
        = f.label :amount
        = f.text_field :amount, class: 'form-control', placeholder: 'amount'

  .row.mt-lg-4
    .col-4
      .form-group
        = f.label :start
        = f.text_field :start, class: 'form-control', placeholder: :start

    .col-4
      .form-group
        = f.label :exit
        = f.text_field :exit, class: 'form-control', placeholder: :exit

    .col-4
      .form-group
        = f.label :stop
        = f.text_field :stop, class: 'form-control', placeholder: :close

  .row.mt-lg-4
    .col-4
      .form-group
        = f.label :close
        = f.text_field :close, class: 'form-control', placeholder: :stop

    .col-4
      .form-group
        = f.label :timestamp
        = f.text_field :timestamp, class: 'form-control', placeholder: :timestamp

  .row.mt-lg-4
    .col-6
      .form-group
        %button{type: 'submit', class: 'btn btn-info'}
          save