!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tbot
    = csrf_meta_tags
    = csp_meta_tag
    = Gon::Base.render_data
    %meta{:content => "width=320px, initial-scale=0.8, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    #app.container-fluid{style: 'margin: 0; padding: 0;'}
      = yield
  = javascript_pack_tag 'app'
